.DS_Store
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

### Go Patch ###
/vendor/
/Godeps/

# Black list configuration
dev.json
prod.json
prod.default.json
test.json
test.default.json

# Blacklist air configuration
dev.toml

# Air temp build directory
/tmp/

# Ignore ui build directory
/public/